<div class="min-h-75  flex justify-center items-center flex-col text-center">
    <h1 class="md:text-6xl xs:text-4xl font-semibold tracking-tighter">VSP 360 SAS</h1>
    <p class="md:text-2xl xs:text-xl my-5 md:w-2/4 xs:w-full">Este blog tiene el propósito de dar publicidad al proceso de reorganización empresarial de la sociedad, en virtud de lo señalado en el artículo 42 del Decreto 065 de 2020 y Decreto 806 de 2020, señalado por la Superintendencia de Sociedades en Auto de admisión #2020-01-617907</p>
</div>