<div id="modal-login" class="modal">
    <div class="flex justify-center items-center min-h-75">
        <div class="container mx-auto flex justify-center items-center">
            <div class="bg-white lg:w-1/3 md:w-2/3 xs:w-full">
                <h3 class="font-medium text-6xl mt-2 mb-4">Log In</h3>
                <form id="form-login">
                    <input type="email" id="login-email"
                        class="bg-gray-200 text-xl p-4 my-2 w-full rounded-2xl focus:outline-none" placeholder="Email"
                        autocomplete="off">
                    <input type="password" id="login-password"
                        class="bg-gray-200 text-xl p-4 my-2 w-full rounded-2xl focus:outline-none"
                        placeholder="Password">
                    <button type="submit"
                        class="w-full bg-black text-white my-2 p-4 rounded-2xl md:text-2xl xs:text-xl focus:outline-none">Log
                        In</button>

                </form>
                <!-- <button id="login-google"
                    class="flex justify-center items-center w-full border-2 border-gray-200 text-gray-800 my-2 p-3 rounded-2xl md:text-2xl xs:text-xl focus:outline-none shadow-sm"><img
                        class="w-5 mx-2" src="https://tracking-app-5f09f.web.app/bbce75f8c7f6cd3d1c0db56d81258450.svg"
                        alt="google"> Google</button> -->
            </div>
        </div>
    </div>
</div>

<!-- container notification modal -->
<div class="modal-container absolute bottom-12 md:left-10 xs:left-0 md:m-0 xs:m-4"></div>